<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd				
		">
		
	<bean id="triangle" class="site.tejap.spring.beans.Triangle11" />
		
	<bean id="pointA" class="site.tejap.spring.beans.Point" >
		<property name="x" value="22" />
		<property name="y" value ="34" />
	</bean>
	
	<bean id="secondPoint" class="site.tejap.spring.beans.Point" >
		<qualifier value="pointB" />
		<property name="x" value="0" />
		<property name="y" value ="0" />
	</bean>
	
	<context:annotation-config />
	
</beans>