<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean id="parentTriangle" class="site.tejap.spring.beans.Triangle07">
		<property name="pointA" ref="pointA" />
	</bean>
	
	<bean id="triangle" class="site.tejap.spring.beans.Triangle07" parent="parentTriangle">
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean> 
	
	<bean id="anotherTriangle" class="site.tejap.spring.beans.Triangle07" parent="parentTriangle">
		<property name="pointB" ref="pointB" />
	</bean>
	
	<bean id="pointA" class="site.tejap.spring.beans.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	
	<bean id="pointB" class="site.tejap.spring.beans.Point">
		<property name="x" value="45" />
		<property name="y" value="45" />
	</bean>
	
	<bean id="pointC" class="site.tejap.spring.beans.Point">
		<property name="x" value="90" />
		<property name="y" value="90" />
	</bean>
</beans>