<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean id="triangle" class="site.tejap.spring.beans.Triangle08" init-method="init" destroy-method="myDestroy">
		<property name="type" value="Equilateral" />
	</bean>
	
	<bean id="triangle2" class="site.tejap.spring.beans.Triangle08" init-method="init" destroy-method="myDestroy">
		<property name="type" value="Equilateral" />
	</bean>
	
	<bean class="site.tejap.spring.ext.MyBeanPostProcessor" />
</beans>